html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  background: #fdf6e3;
}

body {
  max-width: 800px;
  height: 100%;
  padding: 0;
  margin: auto;

  color: #657b83;
  font-size: 14px;
}

header, main, footer {
  margin: 1em 0;
}

header {
  text-align: center;
}

header > pre {
  display: inline-block;
  width: auto;
  text-align: left;
}

footer {
  text-align: center;
}

/* Markdown */

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

p {
  margin: 1em;
}

li {
  line-height: 1.5em;
}

code {
  color: #4d4d4c;
  background: #ffffff;
  padding: 0.1em 0.3em;
}

a {
  color: #657b83;
  text-decoration: none;
  border-bottom: dotted 1px;
}

a:hover {
  color: #268bd2;
}

/* h.js (Tomorrow theme) */

pre {
  width: 600px;
  margin: auto;
  padding: 0.5em;
  overflow-x: auto;

  background: #ffffff;
}

pre code.h-js, code.h-js .i {
  color: #4d4d4c;
  padding: 0;
}

code.h-js .c { /* comment */
  color: #8e908c;
}

code.h-js .d { /* document comment */
  color: #f5871f;
}

code.h-js .k { /* keyword */
  color: #8959a8;
}

code.h-js .v { /* value */
  color: #2aa198;
}

code.h-js .s { /* string */
  color: #718c00;
}

code.h-js .r { /* regexp */
  color: #c82829;
}

code.h-js .o { /* operator */
  color: #f5871f;
}

code.h-js .p { /* punctual symbol */
  color: #6d8d6c;
}

code.h-js .f { /* function name */
  color: #4271ae;
}
