@import "~bulma/sass/utilities/initial-variables.sass";

@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");

::selection {
  background-color: rgba($orange, 0.5);
}

pre code {
  font-family: "Share Tech Mono", monospace;
  color: $black-bis;

  // comment
  span.c,
  .hljs-comment {
    color: $grey;
    font-style: italic;
  }

  // JSDoc tag
  span.d,
  .hljs-doctag,
  .hljs-meta,
  .hljs-name {
    color: $orange;
  }

  // keyword
  span.k,
  .hljs-keyword,
  .hljs-class,
  .hljs-function,
  .hljs-meta-keyword {
    color: $red;
  }

  // value
  span.v,
  .hljs-literal,
  .hljs-number,
  .hljs-symbol,
  .hljs-builtin-name {
    color: $blue;
  }

  // string
  span.s,
  .hljs-string,
  .hljs-meta-string,
  .hljs-section {
    color: $cyan;
  }

  // interpolation
  span.i,
  .hljs-subst {
    color: $turquoise;
  }

  // regexp
  span.r,
  .hljs-regexp,
  .hljs-attr {
    color: $purple;
  }

  // operator
  span.o {
    color: $green;
  }

  // punctual symbol
  span.p,
  .hljs-tag {
    color: $turquoise;
  }

  // function name
  span.f,
  .hljs-builtin,
  .hljs-type,
  .hljs-title,
  .hljs-params {
    color: $black;
    font-weight: bold;
  }
}
